<table>
    <tr>
        <td>app_code_name</td>
        <td>{{ app_code_name }}</td>
    </tr>
    <tr>
        <td>app_name</td>
        <td>{{ app_name }}</td>
    </tr>
    <tr>
        <td>app_version</td>
        <td>{{ app_version }}</td>
    </tr>
    <tr>
        <td>column</td>
        <td>{{ column }}</td>
    </tr>
    <tr>
        <td>cookie_enabled</td>
        <td>{{ cookie_enabled }}</td>
    </tr>
    <tr>
        <td>date</td>
        <td>{{ date }}</td>
    </tr>
    <tr>
        <td>id</td>
        <td>{{ id }}</td>
    </tr>
    <tr>
        <td>language</td>
        <td>{{ language }}</td>
    </tr>
    <tr>
        <td>line</td>
        <td>{{ line }}</td>
    </tr>
    <tr>
        <td>message</td>
        <td>{{ message }}</td>
    </tr>
    <tr>
        <td>platform</td>
        <td>{{ platform }}</td>
    </tr>
    <tr>
        <td>product</td>
        <td>{{ product }}</td>
    </tr>
    <tr>
        <td>stack</td>
        <td>{{ stack }}</td>
    </tr>
    <tr>
        <td>url</td>
        <td>
            <a href="{{ url }}">{{ url }}</a>
        </td>
    </tr>
    <tr>
        <td>user_agent</td>
        <td>{{ user_agent }}</td>
    </tr>
    <tr>
        <td>vendor</td>
        <td>{{ vendor }}</td>
    </tr>
</table>